*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: #424042;        /* color of the tracking area */
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 2px;       /* roundness of the scroll thumb */
    border: 3px solid #837983;  /* creates padding around scroll thumb */
  }